body{
  background-color: white;
  line-height: 1.7em;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Hind', sans-serif;
}

.container{
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 800px;
  position: relative;
}
.main-content{
  padding: 20% 0px;
}

.heading{
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.links{
  padding: 10px 0px;
  box-sizing: border-box;
}

.icon{
  margin-right: 15px;
  opacity: 0.8;
}
.icon:hover{
  opacity: 1;
}

.icon img{
  width: 40px;
  height: 40px;
}

.tags{
  display: inline-block;
  list-style: none;
}
.tags li{
  float: left;
  margin-right: 5px;
  padding: 5px 15px;
  background-color: rgba(19,203,80,0.8);
  font-weight: 600;
  color: white;
  border-radius: 10px;

}

.top-row{
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 20px 0px;
  box-sizing: border-box;
}

p{
  font-size: 1em;
  font-weight: 400;
  font-family: 'Hind', sans-serif;
}

.button{
  text-align: center;
  vertical-align: center;
  box-sizing: border-box;
}